<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <!-- Permissions for reading audio files -->
    <!-- For Android 13 (API 33) and above -->
    <uses-permission android:name="android.permission.READ_MEDIA_AUDIO" />
    <!-- For Android 12 (API 32) and below -->
    <!-- maxSdkVersion ensures this is only requested on older devices -->
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE"
                     android:maxSdkVersion="32" />
    <!-- Optional: If you plan to play audio from the internet -->
    <!-- <uses-permission android:name="android.permission.INTERNET" /> -->


    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.MusicPlayer"
        tools:targetApi="33"> <!-- Target API 33 or higher for READ_MEDIA_AUDIO -->
        <activity
            android:name=".MainActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <!-- Declare PlayAudioActivity -->
        <activity
            android:name=".PlayAudioActivity"
            android:exported="false" /> <!-- Set exported based on whether other apps should launch it -->
            <!-- Optional: Add configChanges if you handle orientation changes manually -->
            <!-- android:configChanges="orientation|screenSize|keyboardHidden" -->

    </application>

</manifest>